<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <style>
       body{
        background-color:#d3d3d3;
       }
       input{
        height: 30px;
        width:200px;
        radius: 80%;
    }

    </style>
</head>
<body>
<center><h1>Add Movie to the Database</h1></center>
<hr>
<form action="" method="POST">
    <table style="margin-right: auto; margin-left: auto; ">
        <tr>
            <td>Movie title</td>
            <td><input type="text " name="title" required/></td>
        </tr>
        <tr><td>Duartion</td>
            <td><input type="text " name="Duration"/></td>
        </tr>
            <td>Summary</td>
            <td><input style="height: 250px;
        width:400px; "type="text "name="Summary"/></td>
        </tr>
        <tr>
            <td>Rating</td>
            <td><input type="text " name="Rating"/></td>
        </tr>
        <tr>
        <tr>
            <td>Genres</td>
            <td><input type="text "name="Genres"/></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input  type="text" name="date"/></td>
        </tr>
        <tr>
            <td>Month</td>
            <td><input type="text " name="month"/></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><input type="text " name="year"/></td>
        </tr>

    </table>
    <br>
<center><input id="btn" style="background-color: #24a0ed; font-size:15px; " type="submit" /></center>

</form>
</body>
</html>