<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Ticket</title>
    <style>
       body{
        background-color:#d3d3d3;
       }
       input{
        height: 30px;
        width:200px;
        radius: 80%;
    }

    </style>
</head>
<body>
<form action="" method="POST">
    <table style="margin-right: auto; margin-left: auto; ">
        <tr>
            <td>Ticket_number</td>
            <td><input type="text " name="Ticket_number" required/></td>
        </tr>
        <tr><td>Price</td>
            <td><input type="text " name="Price"/></td>
        </tr>
        <tr><td>Number of Available ticket</td>
            <td><input type="text " name="num_available_ticket"/></td>
        </tr>
        <tr><td>Movie Name</td>
            <td><input type="text " name="movie_name" required/></td>
        </tr>
    </table>
    <center><input id="btn" style="background-color: #24a0ed; font-size:15px; " type="submit" /></center>
</form>

</body>
</html>