<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    .home_nav_bar{
         overflow: hidden;
        background-color: black;
        }
        .home_nav_bar a{
            float: left;
            padding: 11px 7px;
            text-align: center;
            font-size: 18px;
            color: white;
            text-decoration: none;
            padding-left: 5%;
            padding-right: 5%;
        }
        .home_nav_bar a:hover{
            background-color: blue;
            }

</style>
</head>
<body>
<div class="home_nav_bar">
    <a href="/">Home</a>
    <a href="/movie"  >Movie</a>
    <a href="/ticket">Get Ticket</a>
    <a href="/search">Search Movies</a>
    <a href="\">Log out</a>
</div>
<center><h1>Welcome to the admin page!</h1></center>
<hr>
<table>
    <tr>
        <td><button style="decoration: none;"><a href="/Add_movie"  >Add Movies</a></button></td>
    </tr>
<tr>

</tr>
    <tr>
        <td><button style="decoration: none;"><a href="/update_movie"  >Update Movie</a></button></td>
    </tr>
    <tr>

</tr>
    <tr>
        <td><button style="decoration: none;"><a href="/delete_movie"  >Delete Movie</a></button></td>
    </tr>
</table>


</body>
</html>