<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><center>Update a Movie</center></h1><hr>
<form action="" method="POST">
    <table style="margin-right: auto; margin-left: auto; ">
        <tr>
            <td>Movie title</td>
            <td><input type="text " name="title" required/></td>
        </tr>
        <tr><td>Duartion</td>
            <td><input type="text " name="Duration"/></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="text " name="date"/></td>
        </tr>
        <tr>
            <td>Month</td>
            <td><input type="text " name="month"/></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><input type="text " name="year"/></td>
        </tr>
        <tr>
            <td>Rating</td>
            <td><input type="text " name="Rating"/></td>
        </tr>
        <tr><td>Summary </td>
            <td><input type="text "name="Summary"/></td>
        </tr>

        <tr>
            <td>Genres</td>
            <td><input type="text "name="Genres"/></td>
        </tr>
        <tr><td><input type="submit" /></td></tr>
    </table>
</body>
</html>